RewriteEngine on

# POSTed messages from index contact form:
RewriteRule ^contact$				contact.php [L,QSA]

# captcha info for non-js users
RewriteRule ^captcha_info$	captcha_info.php [L,QSA]

# work
RewriteRule ^work$ work.php [L,QSA]
RewriteRule ^work/$ work.php [L,QSA]

# peas & love
RewriteRule ^peas&love$ /peas&love/ [R,L,QSA]
RewriteRule ^peas&love/(.*)$ words/peasnlove/$1 [L,QSA]
RewriteRule ^peas-n-love$ /peas-n-love/ [R,L,QSA]
RewriteRule ^peas-n-love/(.*)$ words/peasnlove/$1 [L,QSA]

# code
RewriteRule ^code$ /code/ [R,L,QSA]
RewriteRule ^code/(.*)$ words/code/$1 [L,QSA]

# stream of consciousness
RewriteRule ^stream$ /stream/ [R,L,QSA]
RewriteRule ^stream/(.*)$ words/stream/$1 [L,QSA]

# all
RewriteRule ^all$ /all/ [R,L,QSA]
RewriteRule ^all/(.*)$ words/all/$1 [L,QSA]
